.event-card{
    transition: box-shadow 0.5s;
    will-change: transform;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.4);
}
.event-card:hover{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
}
.preload{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -80px;
}