.interactive-map{
    height: 100vh;
    width: 100vw;
    padding: 0;
    position: absolute;
    x:0;
    y:0;
}

.map-control-panel{
    position: absolute;
    padding: 0;
    x:0;
    y:0;
}
html{
    /*overflow-y: hidden;*/
}
