a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    position: relative;
}

.bar{
    background: rgb(249,249,249);
    background: linear-gradient(45deg, rgba(249,249,249,1) 0%, rgba(238,238,238,1) 49%, rgba(244,249,255,1) 100%);
}

.toolbar {
    -webkit-box-shadow: 0px 0px 64px 6px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 64px 6px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 64px 6px rgba(0,0,0,0.24);
}

.navbar {
    -webkit-box-shadow: 0px 0px 64px 6px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 64px 6px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 64px 6px rgba(0,0,0,0.12);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
