/* Provide sufficient contrast against white background */
@font-face {
  font-family: Lato_Custom; /* Имя шрифта */
  src: url(/fonts/Lato-Black.ttf); /* Путь к файлу со шрифтом */
}
html{
  padding: 0;
  margin: 0;
  font-family: Lato_Custom !important;
}
body{
  padding: 0;
  margin: 0;
  background-size: 100%
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-outline-dark {
  font-family: Lato_Custom !important;
}
