/* Provide sufficient contrast against white background */
html{
  padding: 0;
  margin: 0;
}
body{
  font-family: Lato !important;
  padding: 0;
  margin: 0;
  background-size: 100%
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-outline-dark {
  font-family: Lato !important;
  font-weight: bold !important;
}
